//
   Created by lyle on 14-4-1.

doctype html
html
    head
        title chat
        link(rel="stylesheet", href="/stylesheets/postFile.css")
        script(src="/javascripts/jquery-2.1.0.min.js")
        script(src="/javascripts/bootstrap.js")
        script(src = '/socket.io/socket.io.js')
    body
        block content