//
   Created by lyle on 3/25/14.
doctype html
html
    head
        title post
        meta(charset='utf-8')
        link(rel="stylesheet",href="../stylesheets/postFile.css")
    body
        block content