body{
    background-color:lightgrey;
}
#holder{
    margin-top: 90px;
}
.img-responsive {
    display: inline-block;
    height: 25px;
    max-width: 100%;
}
#leftSide{
    background-color: darkgray;
    margin: 80px 0px 10px 40px;
    float: left;
}
#historyCommand{
    height: 400px;
    width: 350px;
}

#codeDiv
{
    margin: 80px 10px 10px 10px;
    height: 550px;
    width: 930px;
    float: right;
}

.clear
{
    overflow: auto;
}
#messageWindow
{
    height: 300px;
    overflow: auto;
}
.redFont{
    color: red;
}
.greenFont{
    color: green;
}
.pMargin
{
    margin-bottom: 3px;
}
pre{
    margin: 0px;
    padding: 1px;
}
.breakpoints {width: .8em;}
.breakpoint { color: #822; }
.CodeMirror {
    height: auto;
    border: 1px solid #aaa;
}
.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}
.lineBackground
{
    background-color: #f5e107;
}